@import '../../styles/variables.css';

.Contact {
  width: 100%;
  text-align: center;
  color: var(--palette-tertiary);

  .navigation {
    padding: 2em 0 0 0;
    text-align: center;

    a {
      color: var(--palette-secondary);
      text-decoration: none;
    }
  }
}


